// Nova Tool CSS
.animate-text-color {
    transition: color .5s;
}

nav{

    ul{
        margin:0px;
        padding: 5px 5px 0px 5px;
        background: #f4f4f4;
        display: block;
        li{
            padding: 5px 10px;
            margin: 0px;
            display: inline-block;
            background: #fff;

            &.text-primary{}
            &.text-60{
                background: #f4f4f4;
            }

            a{}
        }
    }

}